@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --common-color-1: rgb(44, 44, 44);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid black;
}


/* FIRST PAGE */

.firstpage {
  padding: 400px 300px;
  text-align: center;
}

.div-pick {
  border: 1px solid black;
  border-radius: 40px;
  padding: 30px 30px;
}

.div-login {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 20px;
}

.login-button,
.register-button {
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover,
.register-button:hover {
  color: rgb(255, 255, 255);
  background-color: var(--common-color-1);
}

.login-button {
  background-color: blue;
}

.register-button {
  background-color: green;
}