@import "tailwindcss";




:root {
  --background: #161618;
  --foreground: #F3F4F6;
  --common-color-1: rgb(44, 44, 44);
  --common-color-2: rgb(139, 92, 246)
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid black;
}

.container {
  padding: 0;
  margin: auto;
  max-width: 80%;
}


/* FIRST PAGE */

.logo {
  width: 200px;
  margin: auto;
  padding: 150px 0 70px 0;
}

.title-login {
  font-size: 25px;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  gap: 20px;
}


.input-login {
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(34, 34, 34);
  width: 100%;
  display: block;
}

.error-login {
  margin-top: 5px;
  font-size: 13px;
  color: rgb(247, 52, 52);
}

.btn-login {
  margin: 20px 0 10px 0;
  width: 100%;
  background-color: var(--common-color-2);
  border-radius: 5px;
  padding: 6px;
}

.new-user {
  display: flex;
  gap: 10px;
  justify-content: center;
}


.new-user-underline {
  text-decoration: underline;
  color: var(--common-color-2);
}


 @media screen and (max-width: 1024px) {

    .title-login {
      font-size: 25px;
      text-align: center;
    }

    .form-login {
      width: 60%;
    }
  
 }


  @media screen and (max-width: 768px) {

    .logo {
      width: 150px;
    }

    .title-login {
      font-size: 20px;
      text-align: center;
    }
  
 }


 @media screen and (max-width: 425px) {

    .logo {
      width: 130px;
    }


    .form-login {
      width: 80%;
    }

    .new-user {
      flex-direction: column;
      align-items: center;
    }

    
 }