@import "tailwindcss";


:root {
  --background: #161618;
  --foreground: #F3F4F6;
  --common-color-1: rgb(44, 44, 44);
  --common-color-2: rgb(139, 92, 246)
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid black;
}


/* FIRST PAGE */

.logo {
  width: 150px;
  margin-bottom: 60px;
  margin-top: 100px;
}

.title-login {
  font-size: 20px;
}

.div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-login {
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(34, 34, 34);
  width: 100%;
}

.error-login {
  margin-top: 5px;
  font-size: 13px;
  color: rgb(247, 52, 52);
}

.btn-login {
  margin: 20px 0 10px 0;
  width: 100%;
  background-color: var(--common-color-2);
  border-radius: 5px;
  padding: 6px;
}

.new-user {
  display: flex;
  gap: 10px;
}
.new-user-underline {
  text-decoration: underline;
  color: var(--common-color-2);
}