:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.hero {
    background-color: var(--common-color-2);
    text-align: center;
    padding: 100px 100px;
}

.buttonpick {
    margin-top: 20px;
    background-color: blueviolet;
    color: aliceblue;
}

.divgame {
    margin-top: 20px
}

.gametitle {
    font-size: 20px;
    color: aliceblue;
}

.titleHero {
    font-size: 30px;
    margin-bottom: 20px;
}

.descrHero {
    font-size: 20px;
}

.labelChoice {
    
}