:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

.hero {
    background-color: var(--common-color-2);
    text-align: center;
    padding: 100px 100px;
}

.buttonPick {
    background-color: var(--common-color-3);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.buttonPick:hover {
    background-color: var(--common-color-1);
}

.divGame {
    display: flex;
    justify-content: space-between;
}

.gameTitle {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.divGameInfo {
}

.imgGame {
    width: 30%;
}

.titleHero {
    font-size: 30px;
    margin-bottom: 20px;
}

.descrHero {
    font-size: 20px;
}

.sectionChoice {
    background-color: rgb(255, 255, 255);
}

.divChoice {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.labelChoice {
    color: var(--common-color-1);
    font-size: 20px;
}

.selectGenre {
    border: 1px solid var(--common-color-1);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: var(--common-color-1);
}