:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}

/* HERO */

.hero {
    background-color: var(--common-color-2);
    text-align: center;
    padding: 50px 100px;
}

.titleHero {
    font-size: 30px;
    margin-bottom: 20px;
}

.descrHero {
    font-size: 20px;
}

.buttonPick {
    background-color: var(--common-color-3);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.buttonPick:hover {
    background-color: var(--common-color-1);
}

.backgrImg {
    position: absolute;
}

.divGame {
    display: flex;
    justify-content: center;
}

.imgGame {
    width: 60%;
}



.sectionChoice {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 65px 0px;
}

.divChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.labelChoice {
    color: var(--common-color-1);
    font-size: 20px;
}

.selectGenre {
    border: 1px solid var(--common-color-1);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: var(--common-color-1);
}

/* FOOTER */

.pickFooter {
    position: relative;
    inset: auto 0 0 0;
    padding: 10px 30px;
    background-color: var(--common-color-1);
}


@media screen and (max-width: 768px) {
    .hero {
        padding: 50px 120px;
    }

    .imgGame {
        width: 50%;
    }

}

@media screen and (max-width: 425px) {
    
}