:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.burgerMenu {
    display: none;
}

@media screen and (max-width: 425px) {

    .burgerMenu {
        position: absolute;
        top: 40px;
        right: 0;
        background: var(--common-color-2);
        padding: 20px 50px 20px;
        margin-top: 40px;
        width: 100%;

        background-color: var(--common-color-4);

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        gap: 30px;
    }

    .burgerMenu.open {
        transform: translateX(0);
    }
}