:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.burgerMenu {
    display: none;
}

@media screen and (max-width: 425px) {

    .burgerMenu.open {
        position: absolute;
        top: 80px;
        right: 0;
        background: var(--common-color-2);
        padding: 20px 50px 20px;
        width: 100%;
        z-index: 999;

        background-color: var(--common-color-4);

        transition: transform 0.3s ease-in-out;
        display: flex;
        gap: 30px;
    }
}