/* Common */

:root {
  --common-color-1: rgb(34, 34, 34);
  --common-color-2: rgb(139, 92, 246);
  --common-color-3: rgb(253, 81, 29);
  --common-color-4: rgb(17, 17, 19);
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}


/* Collection Game CSS */

.accountSection {
    padding: 50px 0px;
}

.titleCollection {
    font-size: 25px;
}

.gameName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gameDivCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.gameCard {
    background-color: rgb(49, 49, 49);
    width: calc(25% - 15px);
}

.boxTextGame {
    padding: 20px;
}

/* Pulsanti */

.addBtn {
    margin: 20px 0px;
    background-color: var(--common-color-2);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


.deleteBtn {
    margin: 20px 0px;
    background-color: var(--common-color-3);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addBtn:hover,
.deleteBtn:hover {
    background-color: rgb(255, 255, 255);
    color: var(--common-color-1);
}

.imgGame {
    object-fit: cover;
    width: 100%;
}



