/* Common */

.container {
    max-width: 80%;
    margin: auto;
    padding: 0;
}


/* Collection CSS */

.titleCollection {
    font-size: 25px;
}

.navAccount {
    display: flex;
    justify-content: space-between;
}

.divButton {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button {
    font-weight: bold;
}